# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/


dist/

clickmate-57ede-firebase-adminsdk-7qhtz-41c63795e9.json
FirebaseAdmin.js
Secret.js



# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
